<h1> New Task </h1>
<ol class = "breadcrumb">
  <li> <%= link_to "Projects", projects_path %> / <%= link_to @project.name, project_path(@project) %> / <%= link_to "Tasks", project_tasks_path(@project) %> / New Task </li>
</ol>

<%= render "form" %>
