<% if object.errors.any? %>
  <div class = "form-group">
    <div class = "col-sm-offset-2 col-sm-6">
      <div class = "alert alert-danger">

          <h3><%= pluralize(object.errors.count, "error")%>  prohibited this from being saved : </h3>
            <ul>
              <% object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>

      </div>
    </div>
  </div>
<% end %>
   
